@font-face {
    font-family: avenirLight;
    src: url('../fonts/avenirltstd-light.otf');
}

html, body {
    background-color: #111111;
    font-family: 'avenirLight';
    font-size: .9rem;
    font-weight: 400;
    margin: 0;
    padding:0;
    height: 100%;
}

.force-hidden {
    display: none !important;
}

.cursor {
    cursor: pointer
}


/* custom scrollbar css */
/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }



  /* no need to display required field message */
.parsley-errors-list {
  display: none !important;
}

.navbar-custom, .logo-box  {
  background-color: #0e0e0e;
}